<div class="card card-custom gutter-b cb-card">
    <div class="card-body">
        <div class="cb-filter-bar cb-filter-bar-wrap">
            <div class="cb-filter-field cb-filter-field-search">
                <label class="cb-helper-label">Ara</label>
                <input type="text" class="form-control cb-form-control" placeholder="Sembol veya bot" data-cb-user-exec-search />
            </div>
            <div class="cb-filter-field">
                <label class="cb-helper-label">Durum</label>
                <select class="form-control cb-form-control" data-cb-user-exec-status-filter>
                    <option>Tümü</option>
                    <option>Açık</option>
                    <option>Kapalı</option>
                </select>
            </div>
        </div>
    </div>
</div>
