<div class="row">
    <div class="col-xl-2 col-md-4 col-6">
        <div class="card card-custom gutter-b cb-card cb-log-meta-card"><div class="card-body"><div class="cb-kpi-label">Toplam log</div><div class="cb-kpi-value cb-mono" id="cb_log_total">184</div><div class="cb-kpi-meta">Panel özeti</div></div></div>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
        <div class="card card-custom gutter-b cb-card cb-log-meta-card"><div class="card-body"><div class="cb-kpi-label">Bugün</div><div class="cb-kpi-value cb-mono" id="cb_log_today">28</div><div class="cb-kpi-meta">Yeni olay</div></div></div>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
        <div class="card card-custom gutter-b cb-card cb-log-meta-card"><div class="card-body"><div class="cb-kpi-label">Kritik</div><div class="cb-kpi-value cb-mono" id="cb_log_critical">3</div><div class="cb-kpi-meta">Öncelikli</div></div></div>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
        <div class="card card-custom gutter-b cb-card cb-log-meta-card"><div class="card-body"><div class="cb-kpi-label">Yeni</div><div class="cb-kpi-value cb-mono" id="cb_log_new">7</div><div class="cb-kpi-meta">Henüz göz atılmadı</div></div></div>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
        <div class="card card-custom gutter-b cb-card cb-log-meta-card"><div class="card-body"><div class="cb-kpi-label">Trace</div><div class="cb-inline-stack mt-2"><span class="cb-badge cb-badge-success" id="cb_log_trace_badge">Açık</span></div><div class="cb-kpi-meta">Detaylı davranış izleme</div></div></div>
    </div>
    <div class="col-xl-2 col-md-4 col-6">
        <div class="card card-custom gutter-b cb-card cb-log-meta-card"><div class="card-body"><div class="cb-kpi-label">Son log</div><div class="cb-kpi-value cb-mono" id="cb_log_last">09:42</div><div class="cb-kpi-meta">En son olay</div></div></div>
    </div>
</div>
