.cb-shell-header[b-il7khzt31m] {
  box-shadow: none;
}

.cb-shell-mobile-header[b-il7khzt31m] {
  border-bottom: 1px solid rgba(148, 163, 184, 0.12);
}

.cb-shell-footer[b-il7khzt31m] {
  border-top: 1px solid rgba(148, 163, 184, 0.12);
}
