@model CoinBot.Web.ViewModels.Home.DashboardViewModel

<div class="card ...">
    <div class="cb-feed-list">
        @foreach (var item in Model.AiFeed) // Artık Model'den besleniyor
        {
            <div class="cb-feed-item">
                <div class="cb-feed-time cb-mono">@item.Time</div>
            </div>
        }
    </div>
</div>
